/***************************************************************************************
* Footer
***************************************************************************************/

footer {
  background-color: $gray-lighter;
  margin-top: 40px;
  padding-bottom: 200px;
  padding-top: 50px;
  color: $cr-grey;

  h5 {
    margin-top: 0;
    color: $cr-grey;
    font-weight: bold;
  }

  a {
    color: $cr-grey;
  }
}
