/*
  Crossroads Mobile Explore
  Special styles for presenting special styles for the mobile optimized version of the explore page
*/
/* EXPLORE
/  ----------------------------------------------------*/

$explorebreakpoint: 651px;



.explore {
  .fp-tableCell {
    vertical-align: top;
  }

  .section {
    position: relative;
    h1 {
      margin: 0;
    }
  }
  .slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.opening-title,
.studentministry-title,
.drums-title,
.meet-title {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1.1px;
}

.map-title,
.kidsclub-title,
.photos-title {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 1;
}

// Opening
.opening {
  background-color: #002D4E;
  color: #ffffff;
  .opening-title {
    font-size: 40px;
    line-height: 37px;
    margin-bottom: 8px;
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}

// Map
.map {
  background-color: #d9dbe0;

  .map-content {
    @media (min-width: $screen-sm-min) {
      margin-top: -$line-height-computed*6;
    }
  }

  .map-title {
    color: $brand-primary;
    line-height: 26px;
    margin-bottom: 8px;
  }
  .map-desc {
    color: #999999;
  }
  .map-more a {
    color: #af5e31;
    margin-right: 2%;
    a:hover {
      color: #5f331b;
    }
  }
}

// Kids Club
.kidsclub {
  @include gradient(#F4A000,#FFCF00);
  position: relative;

  .kc-logo {
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }

  .kidsclub-desc {
    color: #222222;
    a {
      color: #af5e31;
      &:hover {
        color: #5f331b;
      }
    }
  }

  .bubble-stick {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    max-height: 70%;
  }
}


// Student Ministry

.studentministry {
  background: #0F0901;

  .studentministry-img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 550px;
    height: 416px;
    max-width: 550px;
    margin-left: -275px;
  }

  .studentministry-container {
    color: #fff;
    a {
      color: #18afe4;
    }
  }

  .studentministry-title {
    color: #18afe4;
  }
}

// Drums

.drums {
  background-color: #000;
  color: #F2EFE3;
  text-align: center;

  .drums-title {
    color: #fff;
    line-height: 1;
  }

  .drums-desc {
    line-height: 17px;
  }
}

// photos

.photos {
  background: #DAD7DB;
}


// Meet
.meet {
  .meet-desc {
    color: #999999;
    a {
      @extend .link-secondary;
    }
  }
}

//Animations

.fade-bg {
  opacity: 0;
  visibility:hidden;
}
.rise20 {
  opacity: 0;
  visibility:hidden;
  transform: translateY(20px) translateZ(0) translate3d(0, 0, 0);
  transform-style: preserve-3d
}
.rise10 {
  opacity: 0;
  visibility:hidden;
  transform: translateY(10px) translateZ(0) translate3d(0, 0, 0);
  transform-style: preserve-3d
}


// Slides
.slideCon {
  display: table;
  height: 100%;
  width: 100%;
}
.slideCell {
  display: table-cell;
  vertical-align: middle;
}
