/*
  Crossroads Mobile Explore
  Special styles for presenting special styles for the mobile optimized version of the explore page
*/
/* EXPLORE
/  ----------------------------------------------------*/

$explorebreakpoint: 651px;

.explore {
  .section {
    position: relative;
    h1 {
      margin: 0;
    }
  }
  .slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.opening-title {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1.1px;
}
.map-title,
.studentministry-title,
.drums-title,
.meet-title {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: normal;
  letter-spacing: -1px;
}

// Opening
.opening {
  background-color: #002D4E;
  color: #ffffff;
  .opening-title {
    font-size: 40px;
    line-height: 37px;
    margin-bottom: 8px;
    color: #fff;
  }
  a {
    text-decoration: underline;
    color: #fff;
  }
}

// Map
.map {
  background-color: #d9dbe0;
  .img-background {
    background-size: 150%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    @media (min-width: 479px) {
      background-size: 70%;
      background-position: 100% 0%;
    }
  }
  .map-container {
    @media (min-width: 479px) {
      width: 54%;
    }
  }
  .map-title {
    color: $brand-primary;
    line-height: 26px;
    margin-bottom: 8px;

    @media (min-width: $explorebreakpoint) {
      font-size: 34px;
      line-height: 37px;
    }
  }
  .map-desc {
    color: #999999;
  }
  .map-more a {
    color: #af5e31;
    margin-right: 2%;
    a:hover {
      color: #5f331b;
    }
  }
}

//Animations

.fade-bg {
  opacity: 0;
  visibility:hidden;
}
.rise20 {
    opacity: 0;
    visibility:hidden;
    transform: translateY(20px) translateZ(0) translate3d(0, 0, 0);
    transform-style: preserve-3d
}
.rise10 {
    opacity: 0;
    visibility:hidden;
    transform: translateY(10px) translateZ(0) translate3d(0, 0, 0);
    transform-style: preserve-3d
}


// Slides
.slideCon {
  display: table;
  height: 100%;
  width: 100%;
}
.slideCell {
  display: table-cell;
  vertical-align: middle;
}
