$gf-blue: #0F2D49;
$gf-background: #2E5873;
$gf-tabs: #AEAEAE;
$gf-tabs-active: #5E5E5E;
$gf-border-radius: 1.25em;

.group-finder {

  // TODO Update this URL.
  background: $gf-blue url('https://s3.amazonaws.com/ample-useast/group-finder-hero-banner.jpg') top center no-repeat;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 5em 0;

  &, h2, h3 {
    color: $white;
  }

  header {
    @include clearfix;
  }

  .btn-next-question {
    @include button-variant($white, $cr-blue, $cr-blue);
  }

  .btn-previous-question {
    @include button-variant($white, $gf-background, $white);
  }

  .btn-next-question,
  .btn-previous-question {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 90%;
  }

  .navbar-brand.logo {
    @include clearfix;
    color: $white;
    float: left;
    position: static;
    margin: 0 0 1em;
  }

  .page-header {
    clear: both;
    border-bottom: lighten($cr-blue, 20);
    margin-bottom: 0;
  }

  .dashboard-header {
    h2 > small {
      color: $white;
      display: block;
      font-size: 97%;
      font-style: italic;
      font-weight: 200;
    }
    .btn-text {
      color: $white;
      text-decoration: underline;
      font-size: 90%;
    }
  }

  .group {
    background: $gray-lighter;
    color: $gray-dark;
    border-radius: $gf-border-radius;
    position: relative;
    overflow: hidden;
    font-size: 90%;
    line-height: 110%;
    border: 3px solid $cr-blue;
    margin-bottom: 1em;

    header {
      background: $white;
    }
    header,
    > div {
      padding: 1.375em;
      p {
        padding-bottom: 1em;
        border-bottom: 1px solid darken($gray-lighter, 10);
      }
    }
    .list-unstyled {
      margin-bottom: 0;
      line-height: 140%;
    }
    .media-heading {
      font-size: 125%;
      font-weight: 500;
    }
    .media-left {
      width: 70px;
      padding-right: 20px;
      img {
        max-width: 100px;
      }
    }
    .img-circle {
      border: 3px solid $gray-lighter;
    }
  }

  .dashboard {
    @include clearfix;
    background: $white;
    padding-bottom: 2em;
    &, h3 {
      color: $gray-dark;
    }

    .page-header {
      margin: 0;
      text-align: center;
      h3 {
        font-weight: 300;
        text-transform: capitalize;
      }
    }

    .group-card {
      border: 5px $gray-lighter solid;
      border-radius: $gf-border-radius;
      text-align: center;
      margin-bottom: 1em;
      padding: 1em;
    }

    .group-images {
      @include clearfix;
      img {
        max-width: 75px;
        height: 75px;
        border: 1px solid $gray-lighter;
        margin: 0 7px 15px;
      }
    }

    .group-description {
      padding: 0 20px;
    }

    .groups {
      margin-bottom: 1em;
    }

    .nav-tabs {
      border: none;

      & > li {
        width: 50%;
        & > a {
          border: none;
          background: $gf-tabs;
          border-radius: 0;
          color: $white;
          font-size: 90%;
          text-decoration: underline;
          margin-right: 0;
        }
        &:first-child > a {
          text-align: right;
          padding-right: 2em;
        }
        &:last-child > a {
          text-align: left;
          padding-left: 2em;
        }
        &.active > a {
          background: $gf-tabs-active;
        }
      }
    }

  }

  .btns {
    margin-top: 3.5em;
  }

  .profile-image {
    border: 3px $white solid;
    margin: 0 auto;
    margin-top: 1em;
    max-width: 140px;
  }

  .group-detail {
    h3 {
      font-style: italic;
      font-weight: 200;
      font-size: 120%;
    }
  }

  .member-detail {
    padding: 0 1em;
    h4 > small {
      display: block;
    }
    ul {
      margin: 0 0 0 1.25em;
      padding: 0;
      li {
        font-size: 90%;
        line-height: 140%;
      }
    }
    .profile-image {
      border: none;
      max-width: 100%;
      margin: 0;
    }
  }

  .question.form-group {
    .bordered {
      border: 1px solid $white;
      border-radius: 0.5em;
    }
    .checkbox,
    .radio {
      padding-left: 1em;
      border-bottom: 1px solid $white;
      &:last-child {
        border: none;
      }
    }
    .radio, .radio + .radio,
    .checkbox, .checkbox + .checkbox {
      margin: 0;
      padding: 0.5em 1.25em;
      input[type="radio"],
      input[type="checkbox"] {
        margin-left: -1.5em;
      }
    }
    textarea {
      border-radius: $gf-border-radius / 2;
      height: 10em;
    }
  }

  .help-block {
    color: $white;
    font-size: 98%;
    line-height: 130%;
    font-style: italic;
  }
}
