/***************************************************************************************
* Home
***************************************************************************************/

.homepage {
  background: #000 url('https://crds-cms-uploads.imgix.net/content/images/cup3-02.jpg') no-repeat;
  background-position: center top;

  .main {
    margin-bottom: 0;
  }

  footer {
    margin-top: 0;
  }

  .brandbar-container {
    visibility: hidden;
    opacity: 0;
  }

  .icon-logo {
    color: #fff;
    transition: all .6s;

    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }
  }

  ul.cr-nav > li > a {
    color: #fff;
  }

  ul.navbar--login .btn-standard {
    @extend .btn-standard-darker;
  }

  .nav__side--toggle .icon-bar {
    background-color: #fff;
  }

  h1,
  h4,
  .subheading,
   {
    background: transparent;
    color: #fff;
    border: none;
  }

  .home-intro {
    color: #fff;
    margin-top: $line-height-computed*5;
    margin-bottom: $line-height-computed*6;

    .home-intro-text {
      @media only screen and (max-width:  $screen-sm-min){
        max-width: 350px;
      }
    }
  }

  .home-countdown {
    background: #F1F2F2;
    padding: $line-height-computed*1.5 0;
  }

  .home-series {
    background: #A7A9AC;

    h4,
    h5 {
      color: #fff;
    }

    .home-series-desc {
      background: #464749;
      color: #fff;
    }
  }

  .home-locations {
    background: #F1F2F2;
    padding: $line-height-computed*1.5 0;
  }

  .home-map {
    position: relative;

    img {
      display: block;
    }

    a {
      @include gradient-vertical($start-color: rgba(0,0,0,.3), $end-color: rgba(0,0,0,0));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 50%;

      span {
        display: none;
      }
    }

    .arrow-down {
    	width: 0;
    	height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-top: 30px solid #F1F2F2;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40px;
      z-index: 3;
    }
  }

  .home-were-open {
    background: black url('https://crds-cms-uploads.imgix.net/content/images/wereopen.jpg') no-repeat;
    background-position: right top;
    background-size: cover;
    color: #fff;
    padding: $line-height-computed*4 0;

    h1 {
      color: #fff;
    }
  }
}
