/***************************************************************************************
* Home
***************************************************************************************/

.homepage {
  background: #000 url('https://crds-cms-uploads.imgix.net/content/images/cup3-02.jpg') no-repeat;
  background-position: center top;

  .brandbar-container {
    visibility: hidden;
    opacity: 0;
  }

  .icon-logo {
    color: #fff;
  }
}
