.nextstep-dark {
  color: #fff;
  background-color: #020102;

  h4 {
    color: #fff;
  }

  a {
    color: #d1d3d4;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nextstep-background {
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
}
