.nextstep-dark {
  color: #fff;

  h4 {
    color: #fff;
  }

  a {
    color: #d1d3d4;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nextstep-attend {
  background: #020102 url(https://crds-cms-uploads.imgix.net/content/images/attendbg.jpg) no-repeat;
  background-position: top right;
}

.nextstep-app {
  background: url(https://crds-cms-uploads.imgix.net/content/images/appbg.jpg) no-repeat;
  background-position: top right;
}

.nextstep-groups {
  background: #020102 url(https://crds-cms-uploads.imgix.net/content/images/groupbg.jpg) no-repeat;
  background-position: top right;
}

.nextstep-generous {
  background: url(https://crds-cms-uploads.imgix.net/content/images/generousbg.jpg) no-repeat;
  background-position: top right;
}
