<ng-form name="password_field">
    <!--TODO Once global validation logic method has been created, use that shorter method here-->
    <div class="form-group" ng-class="{'has-error': password_field.password.$error.minlength||
         password_field.password.$error.required && submitted  && password_field.password.$dirty ||
         password_field.password.$error.required && submitted  && !password_field.password.$touched ||
         password_field.password.$error.required && submitted  && password_field.password.$touched ||
         !password_field.password.$error.required && password_field.password.$dirty && !password_field.password.$valid}">
        <div class=" input-group">
          <input type="{{inputType}}" class="form-control" id="{{prefix}}-password" placeholder="Password" ng-minlength="6" autocomplete="off" autocorrect="off" autocapitalize="off" ng-model="passwd" name="password" ng-required="{{required}}" ng-model-options="{ updateOn: 'blur', debounce: {'blur': 500} }"/>
          <span class="input-group-btn">
            <a class="btn btn-standard pointer" id="{{prefix}}-show-hide-password" ng-click="pwprocess()"><small class="smaller ng-binding" ng-init="pwprocessing='SHOW'">{{pwprocessing}}</small></a>
          </span>
        </div> <!--input-group-->

        <div class="password-strength-feedback push-half-top">
          <div class="progress flush-bottom">
            <div class="progress-bar progress-bar-{{passwordStrengthProgressClass}}" role="progressbar" aria-valuenow="{{passwordStrengthProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{passwordStrengthProgress}}%">
              <span class="sr-only">{{passwordStrengthProgress}}</span>
            </div>
          </div>
          <small class="pull-right text-{{passwordStrengthProgressClass}}">{{passwordStrengthProgressLabel}}
            <svg viewBox="0 0 32 32" class="icon icon-question-circle icon-{{passwordStrengthProgressClass}}"><use xlink:href="#question-circle"></use></svg>
          </small>


          <div class="password-strength-suggestions push-top">
            Password Strength: {{passwordStrength.score}}
            <br />
            Password Warning: {{passwordStrength.feedback.warning}}
            <br />
            Password Suggestions:
            <div ng-repeat="suggestion in passwordStrength.feedback.suggestions">
              {{suggestion}}
            </div>
          </div>
        </div>

        <ng-messages for="password_field.password.$error">
          <ng-messages-include src="on-blur-messages"></ng-messages-include>
        </ng-messages>
        <ng-messages for="password_field.password.$error" ng-if="submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
    </div>
</ng-form>
