<div class="modal-header">
  <h3 class="modal-title">Session Ended</h3>
</div>
<div class="modal-body">
  <div ng-bind-html="$root.MESSAGES.sessionEndedMessage.content | html"></div>
  <label>Password</label>
  <password-field required="true" passwd="credentials.password" submitted="navlogin.$submitted" prefix="passwordPrefix"></password-field>
</div>
<div class="modal-footer">
  <a ui-sref="forgotPassword" href="/forgot-password" class="pull-left">Forgot password?</a>
  <button class="btn btn-standard" type="button" ng-click="StayLoggedIn.cancel()">Cancel</button>
  <button class="btn btn-primary" type="button" ng-click="StayLoggedIn.ok()">Sign In</button>
</div>