<ng-form name="passwd.passwordForm">
  <div class="form-group" ng-class="{'has-error': passwd.passwordInvalid() }">
    <div class=" input-group">

      <input type="{{passwd.inputType}}"
             class="form-control"
             id="{{passwd.prefix}}-password"
             placeholder="Password"
             ng-minlength="6"
             autocomplete="off"
             autocorrect="off"
             autocapitalize="off"
             ng-model="passwd.passwd"
             name="password"
             ng-change="passwd.pwChanged()"
             ng-required="{{passwd.required}}" />

      <span class="input-group-btn">
        <a class="btn btn-standard pointer"
           id="{{passwd.prefix}}-show-hide-password"
           ng-click="passwd.pwprocess()">
          <small class="smaller ng-binding"> {{passwd.pwprocessing}} </small>
        </a>
      </span>
    </div> <!--input-group-->

    <div ng-if="passwd.showMeter">
      <div class="password-strength-meter push-half-top">
        <div class="progress flush-bottom">
          <div class="progress-bar progress-bar-{{passwd.passwordStrengthProgressClass}}"
               role="progressbar"
               aria-valuenow="{{passwd.passwordStrengthProgress}}"
               aria-valuemin="0"
               aria-valuemax="100"
               style="width: {{passwd.passwordStrengthProgress}}%">
                <span class="sr-only">{{passwd.passwordStrengthProgress}}</span>
          </div>
        </div>
        <div>

          <small class="text-{{passwd.passwordStrengthProgressClass}}">
            {{passwd.passwordStrengthProgressLabel}}
          </small>

          <a ng-click="passwd.isCollapsed = !passwd.isCollapsed">
            <svg viewBox="0 0 32 32"
                 class="icon icon-question-circle pointer text-{{passwd.passwordStrengthProgressClass}}"
                 ng-if="passwd.passwordStrength.feedback.suggestions.length > 0">
                <use xlink:href="#question-circle"></use>
            </svg>
          </a>
          <div class="password-suggestions small" collapse="passwd.isCollapsed">
            <p class="flush-bottom">{{passwd.passwordStrength.feedback.warning}}</p>
            <div ng-if="passwd.passwordStrength.feedback.suggestions.length > 0" class="push-half-top">
              <strong>Suggestions</strong>
              <ul class="list-unstyled flush-bottom">
                <li ng-repeat="suggestion in passwd.passwordStrength.feedback.suggestions">
                  {{passwd.suggestion}}
                </li>
              </ul>
              <hr>
            </div>
          </div>
        </div>
      </div><!--/password-strength-meter-->

      <div>
        <ng-messages for="passwd.passwordField.password.$error">
          <ng-messages-include src="on-blur-messages"></ng-messages-include>
        </ng-messages>
        <ng-messages for="passwd.passwordField.password.$error" ng-if="submitted">
          <ng-messages-include src="on-submit-messages"></ng-messages-include>
        </ng-messages>
      </div><!--/push-half-top-->

    </div><!--/ng-if="showMeter"-->
  </div>
</ng-form>
