<div class="row">
  <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

    <h1 class="page-header">Forgot Password</h1>
    <div class="row">
      <div class="col-sm-12">
        <div ng-bind-html="$root.MESSAGES.forgotPasswordInstructions.content | html"></div>
        <form id="forgotpasswordform" ng-submit="resetRequest(this)">
          <div class="form-group">
            <input type="input" name="email_field" ng-model="emailAddress" id="email_field" required class="form-control" placeholder="Email" autocomplete="off" autocapitalize="off" autofocus="true">
            <ng-messages for="forgotpasswordfrm.email_field.$error" ng-if="forgotpasswordform.$submitted">
              <ng-messages-include src="on-submit-messages"></ng-messages-include>
            </ng-messages>
          </div>
          <div class="form-group">
            <!--<a href="" class="btn btn-primary btn-block-mobile">Get New Password</a>-->
            <input type="submit" name="submit_reset" value="Get New Password" ng-class="{disabled: processing }" id="submit_reset" class="btn btn-primary btn-block-mobile"/>
          </div>
</form>
</div>
</div>
</div>
</div>
