<footer ng-if="!app.state.current.data.hideMenu" class="hidden-print">
  <!--  <span dynamic-content="$root.MESSAGES.footer.content | html"></span>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-2 push-bottom">
        <h5><a href="[sitetree_link,id=215]">Locations</a></h5>
        <p><a href="[sitetree_link,id=224]">Uptown</a>
          <br /><a href="[sitetree_link,id=225]">Florence</a>
          <br /><a href="[sitetree_link,id=217]">Mason</a>
          <br /><a href="[sitetree_link,id=222]">Oakley</a>
          <br /><a href="[sitetree_link,id=223]">West Side</a></p>
      </div>
      <div class="col-sm-2 push-bottom">
        <h5><a href="http://imincampaign.net/" target="_blank">I&rsquo;m IN Campaign</a></h5>
        <p><a href="http://imincampaign.net/" target="_blank">Campaign website</a>
          <br /><a href="[sitetree_link,id=330]">Commit to I&rsquo;M IN</a></p>
      </div>
      <div class="col-sm-2 open push-bottom">
        <h5>Contact</h5>
        <p><a href="#">Prayer Requests</a>
          <br /><a href="#">Share Your Story</a>
          <br /><a href="#">Contact Us</a>
          <br /><a href="#">Privacy Policy</a></p>
      </div>
      <div class="col-sm-2 open push-bottom">
        <h5>Resources</h5>
        <p><a href="#">Church Resources</a>
          <br /><a href="#">Crossroads Anywhere</a></p>
      </div>
      <div class="col-sm-2">
        <!-- TWITTER -->
        <svg viewBox="0 0 30 32" class="icon-xlarge">
          <use xlink:href="#twitter"></use>
        </svg>
        <!-- FACEBOOK -->
        <svg viewBox="0 0 14 32" class="icon-xlarge">
          <use xlink:href="#facebook"></use>
        </svg>
        <!-- YOUTUBE -->
        <svg viewBox="0 0 32 32" class="icon-xlarge">
          <use xlink:href="#youtube"></use>
        </svg>
        <!-- INSTAGRAM -->
        <svg viewBox="0 0 32 32" class="icon-xlarge">
          <use xlink:href="#instagram3"></use>
        </svg>
      </div>
    </div>
  </div>
  <p></p>
</footer>