<header ng-if="!app.state.current.data.hideMenu" class="hidden-print">
  <div class="overlay-container"></div>
  <!-- Brand Bar -->
  <ng-include src="'templates/brand-bar.html'"></ng-include>

  <div id="menu" class="menu">
    <div class="container">
      <div class="row">
        <!-- TODO refactor this out into it's own directive, that uses the login and registration directives. The new directive should take an argument that is the internal directive (login and/or registration)* -->
        <div class="col-xs-12 menu__container">

          <div class=""><!--removed class navbar-header-->

            <!--HAMBURGER MENU-->
            <div ng-class="{show: menu.isMobileShowing}">
              <button type="button" class="nav__side--toggle navbar-left hidden-md hidden-lg hidden-xl" ng-click="app.openAside('left', true)">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!--LOGO-->
            <a class="navbar-brand logo" ui-sref="content({link:'/'})" href="/">
              <img src="//crossroads-media.s3.amazonaws.com/images/logo_gray.svg" alt="crossroads">
            </a>

            <!--MAIN NAV MENU-->
            <ng-include src="'templates/nav.html'"> </ng-include>

            <!--PROFILE ICON AND DROPDOWN-->
            <div class="pull-right hidden-xs hidden-sm" dropdown on-toggle="toggled(open)">
              <a href="#" id="user-dropdown" class="mobile-account" ng-show="$root.username != undefined" dropdown-toggle title="{{$root.username}}">
                <img class="nav-profile-image" ng-src="https://randomuser.me/api/portraits/med/women/53.jpg" src="https://randomuser.me/api/portraits/med/women/53.jpg">

                <!--Placeholder if user doesn't have profile image on file
                <img class="nav-profile-image" ng-src="http://crossroads-media.s3.amazonaws.com/images/avatar.svg" src="http://crossroads-media.s3.amazonaws.com/images/avatar.svg">
                -->

              </a>
              <ul class="dropdown-menu ng-cloak" aria-labelledby="user-dropdown" ng-show="$root.username != undefined" ng-cloak>
                <li>
                  <a ui-sref="profile">{{$root.username}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a ui-sref="profile">Profile</a>
                </li>
                <li>
                  <a ui-sref="history">Giving History</a>
                </li>
                <li>
                  <a ui-sref="serve-signup">Sign Up to Serve</a>
                </li>
                <li>
                  <a ui-sref="mytrips">My Trips</a>
                </li>
                <li>
                  <a ui-sref="logout" class="ng-cloak">Sign Out</a>
                </li>
              </ul>
            </div>

            <!--LOGIN BUTTON AND DROPDOWN-->
            <ul class="pull-right navbar--login list-unstyled hidden-xs hidden-sm">
              <li class="" data-toggle="dropdown" ng-show="$root.username == undefined">
                <button class="btn btn-standard" id="form-toggle" ng-click="toggleDesktopLogin(); passwordPrefix='login-dropdown'">
                  <span>Log In</span>
                </button>
              </li>
              <li>
                <ul class="navbar--login__dropdown list-unstyled col-md-3 soft-top soft-sides" role="menu" aria-labelledby="dropdownMenu1" ng-class="{toggleOpen: loginShow}">
                  <li role="presentation">
                    <div class="navbar--register__container">
                      <div class="dd_menu">
                        <login-form register-url="register"></login-form>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>

          </div><!--navbar-header-->

        </div><!--/col-->
      </div><!--/row-->
    </div><!--/container-->
  </div><!--/#menu-->
</header>
