<div class="hidden-xs hidden-sm">
  <ul class="nav nav-pills pull-left cr-nav" role="navigation">
    <li class="dropdown dropdown-large" dropdown>
      <a href="#" class="dropdown-toggle" dropdown-toggle>About</a>
      <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
        <li class="col-sm-3 ">
          <ul>
            <li class="dropdown-header">About Us</li>
            <li><a href="/explore">Explore Crossroads</a>
            </li>
            <li><a href="/our-history">Our History</a>
            </li>
            <li><a href="/what-we-believe">What We Believe</a>
            </li>
            <li><a href="/7-hills">7 Hills We Die On</a>
            </li>
            <li><a href="/frequent-questions">Frequent Questions</a>
            </li>
            <li><a href="/service-times">Service Times</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Ministries</li>
            <li><a href="http://crossroadskidsclub.net/">Kids' Club</a>
            </li>
            <li><a href="/student-ministry">Student Ministry</a>
            </li>
            <li><a href="/reachout">ReachOut</a>
            </li>
            <li><a href="/care">Pastoral Care</a>
            </li>
            <li><a href="/serve/first-impressions">First Impressions</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Care</li>
            <li><a href="/care/weddings">Weddings</a>
            </li>
            <li><a href="/care/couselors">Counselors</a>
            </li>
            <li><a href="/care/funerals">Funerals</a>
            </li>
            <li><a href="/care/prayer">Prayer</a>
            </li>
            <li><a href="//www.carepages.com/">Care Pages</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Contact Us</li>
            <li><a href="/contact-us">Ask a Question</a>
            </li>
            <li><a href="/staff-contacts">Staff Contacts</a>
            </li>
            <li><a href="/prayer-requests">Prayer Requests</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown dropdown-large" dropdown>
      <a href="#" class="dropdown-toggle" dropdown-toggle>Next Steps</a>
      <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
        <li class="col-sm-3 ">
          <ul>
            <li class="dropdown-header">Serving Opportunities</li>
            <li><a href="/serve">Serve Overview</a>
            </li>
            <li><a href="/serve/first-impressions">First Impressions</a>
            </li>
            <li><a href="/serve/kids-club">Kids' Club</a>
            </li>
            <li><a href="/serve/kids-club">Student Ministry</a>
            </li>
            <li><a href="/serve/spiritual-growth">Spritual Growth</a>
            </li>
            <li><a href="/reachout/give-time">ReachOut</a>
            </li>
            <li><a href="/serve/creative-arts">Creative Arts</a>
            </li>
            <li><a href="/serve/operations">Operations</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3 ">
          <ul>
            <li class="dropdown-header">Next Level</li>
            <li><a href="/next-level/exposure">Exposure</a>
            </li>
            <li><a href="/next-level/experiments">Experiments</a>
            </li>
            <li><a href="/next-level/exchange">Exchange</a>
            </li>
            <li><a href="/next-level/faq">Next Level FAQ</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3 ">
          <ul>
            <li class="dropdown-header">Ways to Grow</li>
            <li><a href="/service-times">Come to a Service</a>
            </li>
            <li><a href="/thedaily">Read the Daily</a>
            </li>
            <li><a href="/cg">Get in Community</a>
            </li>
            <li><a href="/baptism">Baptism</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Community</li>
            <li><a href="/cg">Community Groups</a>
            </li>
            <li><a href="/hg">Healing Groups</a>
            </li>
            <li><a href="/sg">Small Groups</a>
            </li>
            <li><a href="//discipleship.crossroads.net/">Discipleship</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown dropdown-large" dropdown>
      <a href="#" class="dropdown-toggle" dropdown-toggle>Media</a>
      <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Current Series</li>
            <li>
              <a href="help"><img class="img-responsive" src="https://www.crossroads.net/uploadedfiles/imin_still_web_02.jpg" ></a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3 ">
          <ul>
            <li class="dropdown-header">Media Categories</li>
            <li><a href="/media">All Media</a>
            </li>
            <li><a href="/series">Series</a>
            </li>
            <li><a href="/music">Music</a>
            </li>
            <li><a href="/videos">Videos</a>
            </li>
            <li><a href="/live">Live Streaming</a>
            </li>
            <li><a href="//www.youtube.com/crdschurch">YouTube Channel</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Podcasts</li>
            <li><a href="//itunes.apple.com/us/podcast/crossroads-church-audio/id254202585?mt=2">Weekend Message Audio</a>
            </li>
            <li><a href="//itunes.apple.com/us/podcast/crossroads-church-video/id312696731?mt=2">Weekend Message Video</a>
            </li>
            <li><a href="pcast://feeds.feedburner.com/Crossroads/Music">Music</a>
            </li>
            <li><a href="pcast://feeds.feedburner.com/Crossroads/Videos">Videos</a>
            </li>
            <li><a href="https://itunes.apple.com/us/podcast/crossroads-kids-club/id368586318?mt=2">Kids' Club</a>
            </li>
            <li><a href="help">Help</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown dropdown-large" dropdown>
      <a href="#" class="dropdown-toggle" dropdown-toggle>Give</a>
      <ul class="dropdown-menu dropdown-menu-large dropdown-menu-featured-row row">
        <li class="col-sm-3 ">
          <ul>
            <li class="dropdown-header">Give to Crossroads</li>
            <li><a href="" href="/give">Recurring Gift</a>
            </li>
            <li><a href="/give">One-time Gift</a>
            </li>
            <li><a href="/transfer-stock">Transfer Stock</a>
            </li>
            <li><a href="/estate-giving">Estate Giving</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Give to Others</li>
            <li><a href="/corkboard/">Give Your Stuff</a>
            </li>
            <li><a href="wheels">Give a Car</a>
            </li>
            <li><a href="serve">Give Your Time</a>
            </li>
            <li><a href="tripsearch">Give to Someone's Trip</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Questions</li>
            <li><a href="financial-philosophy">Financial Philosophy</a>
            </li>
            <li><a href="frequent-questions">Frequent Questions</a>
            </li>
            <li><a href="confidentiality-and-security">Online Security</a>
            </li>
            <li><a href="confidentiality-and-security">Annual Report</a>
            </li>
          </ul>
        </li>
        <li class="col-sm-3">
          <ul>
            <li class="dropdown-header">Campaign</li>
            <li>
              <a href="help"><img class="img-responsive" src="https://www.crossroads.net/uploadedfiles/imin_still_web_02.jpg" ></a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown dropdown-large" dropdown>
      <a href="/events" class="">Events</a>
    </li>
    <li class="dropdown dropdown-large" dropdown>
      <a href="/locations" class="">Locations</a>
    </li>
    <li>
      <a class="btn btn-link" href="" href="search">
        <svg viewBox="0 0 32 32" class="icon icon-medium icon-search3">
          <use xlink:href="#search3"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
